body{

  background-image: url("http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png");
  background-size: 1300px 900px;

}


span {
display: block;
color:white;
font-family: 'Spectral',sans-serif;

}
div {
  text-align: center;

}
#pane {
width: 500px;

margin-top: 60px;

}
#degree ,#unit{
font-size: 100px;
}
#degree {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#unit {
position: relative;
top: -50px;
}
#weather-state ,#location {
  font-size: 40px;
}
#btn-f,#btn-c {

  font-size: 25px;
  font-family: 'Spectral',serif;
  font-weight: bold;
}
#btn-f {
  width: 200px;
background-color: #F9690E;
}
#btn-c{
  width: 150px;
position: relative;
margin-top: -100px;
background-color: #F9690E;

}
#weather-icon {
  display: inline-block;
font-size: 100px;
height: 100px;
}
